:root {
  --bg-dark: #1C1F26;
  --text-light: #F9FAFB;
  --text-secondary: #A0A6B3;
  --text-muted: #535d6b;
  --gold: #FFD86B;
  --gold-glow: rgba(255, 216, 107, 0.6);
  --violet: #7D6BFF;
  --teal: #34D1BF;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0 1rem;
  text-align: center;
}

img.logo {
  width: 20vw;
  max-width: 200px;
  margin-bottom: 1rem;
  filter: drop-shadow(0px 0px 12px var(--gold));
}

h1, h2, h3 {
  margin: 0.2em 0.2em;
}

h1 {
  font-size: clamp(1.8rem, 5vw, 7rem);
  font-weight: 700;
  color: var(--gold);
  text-shadow: 0 0 20px var(--gold-glow);
}

h2 {
  font-size: clamp(1.4rem, 2.5vw, 6rem);
  font-weight: 500;
  color: var(--violet);
}

h3 {
  font-size: clamp(1.1rem, 2vw, 5rem);
  font-weight: 300;
  color: var(--teal);
}

p, div {
  font-size: clamp(1rem, 1.1vw, 2rem);
  line-height: 1.6;
}

p { color: var(--text-secondary); }

.current{
    max-width: clamp(300px,50vw,800px);
    padding: clamp(2px,1vw,10px);
    border-width: 2px;
    border-style: solid;
    border-color: var(--teal);
}

.current.error {
    border-color: red;  /* or var(--red) */
}

.current.error h3 {
  color: red;
}


.history{
    margin-top: clamp(5px,5vw,20px);
    max-width: clamp(300px,33vw,500px);
}

.history p { text-align: justify; }

.status-footer {
  color: var(--text-muted);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

